MATRIX_HOMESERVER_URL=http://localhost:8008

# Matrix credentials for this node
# Use one of the accounts created by setup-accounts.sh:
# - @node1:localhost / node1pass
# - @node2:localhost / node2pass  
# - @node3:localhost / node3pass
MATRIX_USER_ID=@node1:localhost
MATRIX_PASSWORD=node1pass

# Room alias for blockchain P2P communication
MATRIX_ROOM_ALIAS=#blockchain:localhost

NODE_ID=node1
LEDGER_SHOULD_MINE=true
LEDGER_MINER_ADDRESS=0x337ad1e89c61108be9cf2b407c8452d1f29451ff
